.flashcard {
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;

    header, footer, .flashcardBody {
        @apply bg-zinc-800;
        @apply max-w-4xl;
        @apply px-6 py-4;
        @apply border-l-2 border-l-indigo-500;
        @apply border-r-2 border-r-indigo-500;
    }

    header {
        @apply rounded-tl-xl rounded-tr-xl border-t-2 border-t-indigo-500;
    }

    .flashcardBody {
        @apply border-t-2 border-t-indigo-500;
        @apply border-b-2 border-b-indigo-500;
    }

    footer {
        @apply rounded-bl-xl rounded-br-xl border-b-2 border-b-indigo-500;
    }
}