.card {
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    @apply grid grid-cols-12 items-stretch;

    header, footer, .bodyFull {
        @apply max-w-4xl;
        @apply col-span-12;
    }

    .bodyL, .bodyR {
        @apply col-span-6;
        @apply max-w-md;
    }

    header, footer, .bodyFull, .bodyL, .bodyR {
        @apply bg-zinc-800;
        @apply px-6 py-4;
        @apply border-l-2 border-l-indigo-500;
        @apply border-t-2 border-t-indigo-500;
    }

    header, footer, .bodyFull, .bodyR {
        @apply border-r-2 border-r-indigo-500;
    }

    header {
        @apply rounded-tl-xl rounded-tr-xl border-t-2 border-t-indigo-500;
        @apply text-2xl;
    }

    footer {
        @apply border-t-2 border-t-indigo-500;
        @apply rounded-bl-xl rounded-br-xl border-b-2 border-b-indigo-500;

        button {
            @apply bg-green-600 hover:bg-green-800 rounded-lg transition-colors duration-100;
        }
    }

    .list {
        @apply list-none mb-2;

        &:last-child {
            @apply mb-4;
        }
    }
}